/*directions*/
.rtl {
  direction: rtl;
  text-align: right;
}

.ltr {
  direction: ltr;
  text-align: left;
}

/*scroll*/
.desc::-webkit-scrollbar,
.blogs::-webkit-scrollbar {
  width: 6px;
}

.desc::-webkit-scrollbar-thumb,
.blogs::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 6px;
}

.desc::-webkit-scrollbar-track,
.blogs::-webkit-scrollbar-track {
  background-color: #eee;
}

/*themes*/
body {
  background-color: #f6f6f6;
}

.back-btn {
  background-color: #ffffff;
}
